@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

.right-nav-buttons {
  margin-top: 10px;
  margin-left: 2520px;
  position: absolute;
  font-size: 100%;
}

.right-nav-button-signout {
  margin-top: 10px;
  margin-left: 2520px;
  position: absolute;
  font-size: 100%;
}
/* Darshil */
.navbar-buttons {
  margin-top: 10px;
  position: relative;
  font-size: 100%;
}

.live {
  color: green;
}

.offline {
  color: red;
}

.menubar{
  font-size: 20px;
}
.main-menu {
  width: 280px;
  margin-left: 480px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  font-size: 110%;
}

.pover{
  margin-top: 10px;
  margin-left: 2300px;
  position: absolute;
  font-size: 100%;
}

.user-panel {
  margin-top: 10px;
  position: relative;
  left: 41%;
  font-size: 110%;
}

.user-panel-avtar {
  margin-top: 10px;
  position: relative;
  left: 8%;
  font-size: 110%;
}

.feed {
  margin-top: 10px;
  position: relative;
  left: 1%;
  font-size: 110%;
  max-width: 99%;
  max-height: 10px;  /* DANGER CONTENT HERE */
}

.main-content {
  margin-left: 1%;
}

.cc {
  max-width: 97%;
}

.temp{
  width: 98%;
}

.klas{
  display: inline;
  margin-right: 524px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
